<body>
      <div class="col-sm-12 col-md-12" *ngIf='message'>
            <div class="alert-message alert-message-{{type}} text-center">
                <h4>¡Aviso!</h4>
                <p>{{message}}</p>
            </div>
        </div>
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <section class="services-area pt-100 pb-70" id="services">
      <div class="container">
         <div class="row">
            <div class="col-xl-8 mx-auto text-center">
               <div class="section-title">
                  <h4>Bienvenid@ {{identity.nick}}</h4>
                  <p>¡Administra el Sitio Web!</p>
               </div>
            </div>
         </div>

         <div class="row">

          <div class="col-lg-4 col-md-6" *ngIf="identity.role=='ROLE_ADMIN'">
               <div class="single-service">
                  <i class="fa fa-book"></i>
                  <h4>Revisión de Libros</h4>
                  <p>Determina si los libros serán de dominio publico</p>
                  <a [routerLink]="['../revisionbooklist']">Entrar</a>
               </div>
            </div>

            <div class="col-lg-4 col-md-6" *ngIf="identity.role=='ROLE_ADMIN'">
               <div class="single-service">
                  <i class="fa fa-users"></i>
                  <h4>Gestión de Usuarios</h4>
                  <p>Administra usuarios</p>
                  <a [routerLink]="['../userlist']">Entrar</a>
               </div>
            </div>

            <div class="col-lg-4 col-md-6">
               <div class="single-service">
                  <i class="fa fa-plus"></i>
                  <h4>Agregar Genero</h4>
                  <p>¡Agregar Genero!</p>
                  <a [routerLink]="['../addgenre']">Entrar</a>
               </div>
            </div>

            <div class="col-lg-4 col-md-6">
               <div class="single-service">
                  <i class="fa fa-file-text-o"></i>
                  <h4>Log</h4>
                  <p>Consulta toda la actividad de los Usuarios de la Biblioteca</p>
                  <a [routerLink]="['../log']">Entrar</a>
               </div>
            </div>
         </div>
      </div>
     </section>
</body>