<div class="container register-form justify-content-center">
    <div class="form">
        <div class="login_wrap">
            <p class="header">{{title}}</p>
        </div>
        <form enctype="multipart/form-data" #bookNewForm="ngForm" (ngSubmit)="onSubmit(bookNewForm);">
            <div class="form-content">
            
                <div class="row">
                        <div class="col-sm-12 col-md-12" *ngIf='status == "success"'>
                            <div class="alert-message alert-message-success">
                                <h4>¡Aviso!</h4>
                                        <p>- {{message}}<br></p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12" *ngIf='status == "error" && error'>
                            <div class="alert-message alert-message-danger">
                                <h4>¡Error!</h4>
                                       <p>- {{error}}<br></p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12" *ngIf='status == "error" && !error'>
                            <div class="alert-message alert-message-danger">
                                <h4>¡Error!</h4>

                                <div *ngIf="errors">
                                    <div *ngFor="let item of errors | keyvalue">
                                       
                                            <div *ngIf="item.key.includes('name')">
                                                    - El campo <span class="text-capitalize"><strong>Nombre</strong></span> es requerido<br>
                                            </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>    

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type='text' name='name' #name='ngModel' [(ngModel)]='genre.name' class='form-control' placeholder="Introduce el nombre del genero" required/>
                        </div>                    
                    </div>
                </div>
                <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>