
/* =============================================================
   GENERAL STYLES
 ============================================================ */
 body {
    font-family: 'Open Sans', sans-serif;
   
}
.text-center {
    text-align:center;
}
.pad-top {
    padding-top:40px;
}

p {
    padding:20px 10px 20px 10px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}
.mt-50
{
    margin-top: 50px;
}