<div class="login_wrap">

<form enctype="multipart/form-data" #installForm="ngForm" (ngSubmit)="onSubmit(installForm);">
    <div class="header">CREAR BASE DE DATOS</div> 

    <div class="row">
            <div class="col-sm-12 col-md-12" *ngIf='status == "warning"'>
                    <div class="alert-message alert-message-warning">
                        <h4>¡Comprobando conexión!</h4>
                        <p>Puede que este proceso tarde entre 15 o 20 segundos.</p>
                    </div>
                </div>

            <div class="col-sm-12 col-md-12" *ngIf='status == "error"'>
                <div class="alert-message alert-message-danger">
                    <h4>¡Error!</h4>
                    <p> - Ocurrió un error. Puede ser:<br>
                        - El nombre de la Base de Datos ya existe. (Puede comprobarlo en su Gestor de Base de Datos)<br>
                        - No haya una Base de Datos definida en primer lugar (En este caso vuelva a intentarlo de nuevo)<br></p>
                </div>
            </div>
    </div>
            
    <input type='text' name='servidor' [(ngModel)]='servidor' class='form-control' disabled/>
    <input type='text' name='usuario' [(ngModel)]='usuario' class='form-control' placeholder="Usuario [Default: 'root']" disabled/>
    <input type='password' name='password' [(ngModel)]='password' class='form-control' placeholder="Contraseña [Default: '']" disabled/>
    <input type='text' name='bbdd' [(ngModel)]='bbdd' class='form-control' placeholder="BBDD [Default: 'mydb']" required/>
     
    <div class="container justify-content-center">  
        <div class="row">
            <div class="col md-2"><button type="submit" class="btn btn-primary" [disabled]="!bbdd || bbdd==''">Registrar</button></div> <div class="col md-10"><a class="btn btn-warning" [routerLink]="['welcome']">Seguir con última base de datos registrada: {{actual}}</a></div>
        </div>
    </div>
</form>
</div>