<div class="container register-form justify-content-center">
    <div class="form">

        <div class="login_wrap" *ngIf="user != null">
            <p class="header">{{title}} a {{user.nick}}</p>
        </div>
        
        <form enctype="multipart/form-data" #sendForm="ngForm" *ngIf="user != null" (ngSubmit)="onSubmit(sendForm);">
            <div class="form-content">

                    <div class="row">
                            <div class="col-sm-12 col-md-12" *ngIf='status == "error"'>
                                <div class="alert-message alert-message-danger">
                                    <h4>¡Error!</h4>
            
                                    <div *ngIf="errors">
                                        <div *ngFor="let item of errors | keyvalue">
                                            -  <span class="text-capitalize"><strong>{{item.key}}</strong></span> {{item.value}}<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                    
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre de Usuario:</label>
                            <input type='text' name='nick' #nick='ngModel' [(ngModel)]='user.nick' class='form-control' placeholder="Introduce tu Nombre de Usuario" required disabled="" />
                        </div>

                        <div class="form-group">
                            <label>Asunto:</label>
                            <input type='text' name='asunto' #asunto='ngModel' [(ngModel)]='message.asunto' class='form-control' placeholder="Introduce el asunto" required/>
                        </div>

                        <div class="form-group">
                            <label>Mensaje:</label>
                            <textarea name='mensaje' #mensaje='ngModel' [(ngModel)]='message.mensaje' class='form-control' placeholder="Introduce el mensaje" required></textarea>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </div>
            </div>
        </form>


        <div class="login_wrap" *ngIf="user == null">
            <p class="header">{{title}}</p>
        </div>
        <form enctype="multipart/form-data" #sendForm="ngForm" *ngIf="user == null" (ngSubmit)="onSubmit(sendForm);">
            <div class="form-content">

                    <div class="row">
                            <div class="col-sm-12 col-md-12" *ngIf='status == "error"'>
                                <div class="alert-message alert-message-danger">
                                    <h4>¡Error!</h4>
            
                                    <div *ngIf="errors">
                                        <div *ngFor="let item of errors | keyvalue">
                                                <div *ngIf="item.key.includes('asunto')">
                                                        - El campo <span class="text-capitalize"><strong>Asunto</strong></span> es requerido<br>
                                                </div>
                                                <div *ngIf="item.key.includes('mensaje')">
                                                        - El campo <span class="text-capitalize"><strong>Mensaje</strong></span> es requerido<br>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre de Usuario:</label>
                            <select name='user_receive' #user_receive='ngModel' [(ngModel)]='message.user_receive' class='form-control'>
                                <option *ngFor="let item of userlist"
                                [value]="item.id">{{item.nick}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Asunto:</label>
                            <input type='text' name='asunto' #asunto='ngModel' [(ngModel)]='message.asunto' class='form-control' placeholder="Introduce el asunto" required/>
                        </div>

                        <div class="form-group">
                            <label>Mensaje:</label>
                            <textarea name='mensaje' #mensaje='ngModel' [(ngModel)]='message.mensaje' class='form-control' placeholder="Introduce el mensaje" required></textarea>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </div>
            </div>
        </form>

    </div>
</div>