html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  font-size: 62.5%
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  background: #e9e9e9;
  color: #333;
  letter-spacing: .03em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login_wrap {
  width: 500px;
    margin: 5px auto 0;
    background: #fff;
    padding: 10px;
}

.login_wrap .header {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  color: #999;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px dashed #ddd;
}

.form {
  width: 100%;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  box-sizing: border-box;
  padding: 6px 0;
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-bottom: 10px;
  color: #999;
  font-family: 'Open Sans', sans-serif;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 65px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0;
  border-bottom: 1px solid #999;
}

input[type="submit"] {
  border: 0;
  width: 100%;
  margin-top: 30px;
}

label,
legend {
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

fieldset {
  padding: 0;
  border-width: 0;
}


.bgblue {
  background-color: #3bafda;
}

@media only screen and (max-width: 767px) {
  .login_wrap {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
  }
}

.avatar {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 100px;
  width: 100px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

button[type=submit]:disabled {
  background: #dddddd;
}