<body>
<br><br>
<div class="container">
  <h2>Bandeja de Entrada</h2>
  <hr>
  <p>{{identity.nick}}</p><br><br>                                                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Remitente</th>
        <th>Asunto</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of message">
        <td *ngIf="item.visto == 0"><b>{{item.user.nick}}</b></td>
        <td *ngIf="item.visto != 0">{{item.user.nick}}</td>
        <td *ngIf="item.visto == 0"><b>{{item.asunto}}</b></td>
        <td *ngIf="item.visto != 0">{{item.asunto}}</td>
        <td *ngIf="item.visto == 0"><b>{{item.created_at}}</b></td>
        <td *ngIf="item.visto != 0">{{item.created_at}}</td>
        <td>
        	<div class="btn-group" role="group" aria-label="Basic example">
        		<a [routerLink]="['../userseemessage', item.id]" class="btn btn-primary btn-xs">Ver Mensaje</a>
        		<a [routerLink]="['../userdeletemessage', item.id, item.userreceive.id]" class="btn btn-danger btn-xs">X</a>
        	</div>
        </td>
      </tr>
    </tbody>
  </table>

  <span class="text-center" *ngIf="message.length == 0"><h2><br>¡No hay ningún resultado!</h2></span>
  </div>
</div>

</body>