section {
    padding: 80px 0;
  }
  
  button[type=submit]:disabled {
    background: #dddddd;
  }
  
  .title {
    margin-top: 0;
  }
  img {
    max-width: 100%;
  }
  
  .book-card .book-title {
    margin: 0 0 25px;
      font-size: 18px;
      font-weight: 400;
      color: #000;
      line-height: 25px;
  }
  
  .book-card .book-details {
      padding: 30px 30px 24px;
      border: 1px solid #ccc;
      border-top: 0;
  }
  
  
  .author-section {
  background-color: #172F7F
  }
  
  .author-section h1,
  .author-section p {
    color: white;
  }
  
  .try-auth0-section {
    background-color: white;
  }
  
  .try-auth0-section .container {
  background-color: #F8F8F8;
  }
  
  .card-inner{
      margin-left: 4rem;
  }
  
  .i-am-centered { margin: auto; max-width: 1000px;}
  
  .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .mb-20
  {
    margin-bottom: 20px;
  }
  
  .btnSubmit
  {
      border:none;
      border-radius:1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
  }
  
  /* MENSAJES */
  
  .message-item {
    margin-bottom: 25px;
    margin-left: 40px;
    position: relative;
    }
    .message-item .message-inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    }
    .message-item .message-inner:before {
    border-right: 10px solid #ddd;
    border-style: solid;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -20px;
    top: 6px;
    width: 0;
    }
    .message-item .message-inner:after {
    border-right: 10px solid #fff;
    border-style: solid;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -18px;
    top: 6px;
    width: 0;
    }
    .message-item:before {
    background: #fff;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    width: 3px;
    }
    .message-item:after {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    content: "";
    height: 15px;
    left: -36px;
    position: absolute;
    top: 10px;
    width: 15px;
    }
    .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
    }
    .message-item .message-head {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
    padding-bottom: 8px;
    }
    .message-item .message-head .avatar {
    margin-right: 20px;
    }
    .message-item .message-head .user-detail {
    overflow: hidden;
    }
    .message-item .message-head .user-detail h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    }
    .message-item .message-head .post-meta {
    float: left;
    padding: 0 15px 0 0;
    }
    .message-item .message-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
    }
    .post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
    }
    .message-item .message-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
    }
    .post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
    }
    
    .img-avatar {
     min-height: 40px;
     max-height: 40px;
    }
  
    .tweet-button {
      display: inline-block;
      width: 55px;
      height: 21px;
      background-image: url(http://platform.twitter.com/widgets/images/tweet.dfbf1dd98bad9f5b5addd80494650dca.png);
      background-position: 0 0;
    }
    .tweet-button:hover {
      background-position: 0 -21px;
    }
  
    .glyphicon {
      font-size: 20px;
      cursor: pointer;
  }
  
  .form-content
  {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
  }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    box-sizing: border-box;
    padding: 6px 0;
    width: 100%;
    height: 50px;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-bottom: 10px;
    color: #999;
    font-family: 'Open Sans', sans-serif;
  }
  
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  textarea {
    padding-top: 6px;
    padding-bottom: 6px;
    min-height: 65px;
  }
  
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    outline: 0;
    border-bottom: 1px solid #999;
  }