<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<section class="book-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="book-card">
          <a class="book-link-wrapper" rel="noopener noreferrer" target="_blank">
            <div class="book-image">
              <img src="http://localhost/bibliotecaCGM/public/cover/{{book.bookimage}}" alt="Imagen BibliotecaCGM">
            </div>
            <div class="book-details">
              <h3 class="book-title">Genero: {{book.genre.name}}</h3>
            </div>
          </a>
        </div>      
</div>
      <div class="col-md-8">

          <form enctype="multipart/form-data" #sendMailForm="ngForm" (ngSubmit)="onSubmit(sendMailForm);">

            <div class="row">
              <div class="col-sm-12 col-md-12" *ngIf='status == "warning"'>
                      <div class="alert-message alert-message-warning">
                          <h4>¡Enviando Correo!</h4>
                          <p>Puede que este proceso tarde unos segundos.</p>
                      </div>
                  </div>
            </div>

          <input type='hidden' name='id' #id='ngModel' [(ngModel)]='sendmail.id' class='form-control' value={{book.id}} required/>

          <div class="form-group">
              <label>Correo Electronico:</label>
              <input type='email' name='email' #email='ngModel' [(ngModel)]='sendmail.email' class='form-control' placeholder="Introduce tu Email" required/>  
          </div>
          <span class="notice notice-danger col-xs-12 col-sm-12 col-md-12 mt-5" *ngIf='!email.valid && email.touched'>
              <u>El email es obligatorio</u>
          </span>

          <div class="form-group mt-4">
              <label>Mensaje:</label>
              <textarea name='mensaje' #mensaje='ngModel' [(ngModel)]='sendmail.mensaje' class='form-control' placeholder="Introduce un mensaje" required></textarea>      
          </div>
          <span class="notice notice-danger col-xs-12 col-sm-12 col-md-12 mt-5" *ngIf='!mensaje.valid && mensaje.touched'>
              <u>El mensaje es obligatorio</u>
          </span>

          <div style="text-align: center;">  
              <button type="submit" [disabled]="!sendMailForm.valid" class="btnSubmit">Enviar Libro</button>
          </div>

          </form>
       
            <hr />
            <div class="legal-info">
              Toda la información y/o sobre las obras publicadas en este sitio web es de uso libre.
            </div>  
      </div>    
</div>  
  </div>
</section>