<div class="container register-form justify-content-center">
    <div class="form">
        <div class="login_wrap">
            <p class="header">{{title}}</p>
        </div>
        <form enctype="multipart/form-data" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm);">
            <div class="form-content">
            
                <div class="row">
                        <div class="col-sm-12 col-md-12" *ngIf='status == "success"'>
                            <div class="alert-message alert-message-success">
                                <h4>¡Registro Completado!</h4>
                                <p>¡Bienvenido! 
                                <a [routerLink]="['/login']">Identificate aquí</a></p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12" *ngIf='status == "error"'>
                            <div class="alert-message alert-message-danger">
                                <h4>¡Error!</h4>

                                <div *ngIf="errors">
                                    <div *ngFor="let item of errors | keyvalue">

                                        <div *ngIf="item.key.includes('email')">
                                                - El campo <span class="text-capitalize"><strong>Correo Electronico</strong></span> es requerido<br>
                                        </div>
                                        <div *ngIf="item.key.includes('name')">
                                                - El campo <span class="text-capitalize"><strong>Nombre</strong></span> es requerido<br>
                                        </div>
                                        <div *ngIf="item.key.includes('nick')">
                                                - El campo <span class="text-capitalize"><strong>Nombre de Usuario</strong></span> es requerido<br>
                                        </div>
                                        <div *ngIf="item.key.includes('password')">
                                                - El campo <span class="text-capitalize"><strong>Contraseña</strong></span> es requerido<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12" *ngIf='status == "erroruser"'>
                            <div class="alert-message alert-message-danger">
                                <h4>¡Error!</h4>

                                <div *ngIf="data">
                                    <p>{{data.message}}</p>
                                </div>
                            </div>
                        </div>
                </div>
                


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type='text' name='name' #name='ngModel' [(ngModel)]='user.name' class='form-control' placeholder="Introduce tu Nombre" required/>
                        </div>

                        <div class="form-group">
                            <label>Nombre de Usuario:</label>
                            <input type='text' name='nick' #nick='ngModel' [(ngModel)]='user.nick' class='form-control' placeholder="Introduce tu Nombre de Usuario" required/>
                        </div> 

                        <div class="form-group">
                            <label>Correo Electronico:</label>
                            <input type='email' name='email' #email='ngModel' [(ngModel)]='user.email' class='form-control' placeholder="Introduce tu Email" required/>
                        </div>

                        <div class="form-group">
                            <label>Imagen:</label>
                            <div class="upload-btn-wrapper">
                                <button class="btn-upload"><span class="fa fa-image"> {{nameimage}}</span></button>
                            <input type='file' name='image' #image='ngModel' (change)="readUrl($event)" [(ngModel)]='user.image' class='form-control' accept="image/jpeg, image/png"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Contraseña:</label>
                            <input type='password' name='password' #password='ngModel' [(ngModel)]='user.password' class='form-control'  placeholder="Introduce tu Contraseña" required/>
                        </div>
                        
                        <div class="form-group">
                                <label>Confirmar contraseña:</label>
                                <input type='password' name='password_confirmation' #password_confirmation='ngModel' [(ngModel)]='user.password_confirmation' class='form-control'  placeholder="Introduce otra vez tu nueva contraseña" required/>
                            </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary" [disabled]="user.password_confirmation != user.password">Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</div>