<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container-fluid">
  <h1 class="text-center mt-5"><strong>Libros Favoritos de {{user.nick}}</strong></h1>
<div class="row justify-content-center mt-5">
  <h2 *ngIf="likelist.length == 0" class="text-center mt-5">¡No hay ningún resultado!</h2>
</div>   

<div class="container ">
			<div class="component">
				<ul class="align">
					<li *ngFor="let item of likelist | paginate: { itemsPerPage: 3, currentPage: p }; let i=index" class="mt-5"> 
						<figure class='book'>

							<!-- Front -->

							<ul class='paperback_front'>
								<li>
									<img src="http://localhost/bibliotecaCGM/public/cover/{{item.book.bookimage}}" alt="" width="100%" height="100%">
								</li>
								<li></li>
							</ul>

							<!-- Pages -->

							<ul class='ruled_paper'>
								<li></li>
								<li>
                           <a class="btnbook" href="http://localhost/bibliotecacgm/public/api/books/download/{{item.book.id}}"><p class="text-primary">Descargar</p></a> 
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

							<!-- Back -->

							<ul class='paperback_back'>
								<li>
									<img src="http://localhost/bibliotecaCGM/public/cover/{{item.book.bookimage}}" alt="" width="100%" height="100%">
								</li>
								<li></li>
							</ul>
							<figcaption>
								<h1>{{item.book.title}}</h1>
								<span>Por {{item.book.autor}}</span>
                        <p>{{(item.book.description.length>100)? (item.book.description | slice:0:100)+'..':(item.book.description)}}</p>
                        
                        <div class="mt-2">
                           <button type="button" [routerLink]="['../../bookdetail', item.book.id]" class="btn btn-primary btn-sm">Leer Más</button> &nbsp; <button *ngIf="identity.role == 'ROLE_ADMIN'" [routerLink]="['../../bookdelete', item.id]" type="button" class="btn btn-danger btn-sm">Eliminar</button>
                        </div>
                        <div class="like-content pull-right">
                              <a *ngIf="checkLike(item.book.id) == false" (click)="sendLike(item.book.id);" class="btn_like like-review"><span class="fa fa-thumbs-up btn-md" style="color:gray"></span></a> 
  
                              <a *ngIf="checkLike(item.book.id) == true" (click)="sendDislike(item.book.id);" class="btn_like"><span class="fa fa-thumbs-up btn-md" style="color:blue"></span></a>
                        </div>
							</figcaption>
						</figure>
					</li>
            </ul>
            
            <div style="text-align: center;"> 
               <pagination-controls (pageChange)="p = $event"  previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
			</div>
		</div><!-- /container -->
