<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	
	<div class="row">
		<div class="col-xs-12 col-md-4 col-lg-3">
			<div class="userProfileInfo">
				<div class="image text-center" *ngIf="user.image">
					<img src="http://localhost/bibliotecaCGM/public/avatar/{{user.image}}" alt="#" class="img-responsive">
				</div>
				<div class="box">
					<div class="name"><strong></strong>{{user.name}}</div>				
        </div>
        <div class="info">
          <div *ngIf="identity.role == 'ROLE_ADMIN' || user.id == identity.sub">
              <a [routerLink]="['../../useredit', user.id]" title="#"><span><i class="fa fa-edit"></i>  Editar</span></a>
          </div>
          <div>
                <a [routerLink]="['../../usersendmessage', user.id]" title="#"><span><i class="fa fa-envelope"></i>  Enviar Mensaje</span></a>
          </div>
        </div>
			</div>
		</div>

		<div class="col-xs-12 col-md-8 col-lg-9">
			<div class="box">
				<h2 class="boxTitle">Información de Perfil</h2>
				<!-- Tabs -->
				<hr>

				<div class="tab-content">
					<!-- About -->
					<div role="tabpanel" class="tab-pane fade active show" id="tab-item-1">
						<div class="userProfileContent">
							<div class="i">
                <h2 class="boxHeadline">Nombre de Usuario</h2>
                <hr>
								<p>{{user.nick}}</p>
              </div>
              
              <div class="userProfileContent mt-4">
                <div class="i">
                  <h2 class="boxHeadline">Email</h2>
                  <hr>
                  <p>{{user.email}}</p>
                </div>

							<div class="i mt-4">
                <h2 class="boxHeadline">Listado de Publicaciones</h2>
                <hr>
                <div *ngIf="list.length == 0">No tiene publicaciones</div>
								<ul class="simpleListings">
									<li *ngFor="let item of list">
										<div class="title"><a [routerLink]="['../../bookdetail', item.id]" title="#" class="itemOptions"><i class="fa fa-book"></i> {{item.title}}</a></div>
										<div class="info">{{item.created_at}}</div>
										<p>{{(item.description.length>200)? (item.description | slice:0:200)+'..':(item.description)}}</p>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>