<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container-fluid">
  <h1 class="text-center mt-5"><strong>Listado de Libros</strong></h1>
<div class="row justify-content-center mt-5">
      <div class="col-3">
         <select name="tipo" [(ngModel)]='tipo' class='form-control' (change)="sortBy(tipo, orden)">
            <option value="id">Sin Orden</option>
            <option value="autor">Autor</option>
            <option value="title">Titulo</option>
            <option value="created_at">Fecha de Creación</option>
         </select>
      </div>
      <div class="col-3 ml-2">
         <select name="orden" [(ngModel)]='orden' class='form-control' (change)="sortBy(tipo, orden)">
            <option value="asc" checked="true">Ascendente</option>
            <option value="desc">Descendente</option>
         </select>
      </div>
     <div class="col-4 ml-2">
         <input type="text" class="form-control" placeholder="Introduce el nombre del libro" [(ngModel)]="filtername">
     </div>
  </div>   

  <h2 *ngIf="list.length == 0" class="text-center mt-5">¡No hay ningún resultado!</h2>
</div>   

<div class="container">
			<div class="component">
				<ul class="align">
					<li *ngFor="let item of list | filter:filtername | paginate: { itemsPerPage: 3, currentPage: p }; let i=index" class="mt-5"> 
						<figure class='book'>

							<!-- Front -->

							<ul class='paperback_front'>
								<li>
									<img src="http://localhost/bibliotecaCGM/public/cover/{{item.bookimage}}" alt="" width="100%" height="100%">
								</li>
								<li></li>
							</ul>

							<!-- Pages -->

							<ul class='ruled_paper'>
								<li></li>
								<li>
                           <a class="btnbook" href="http://localhost/bibliotecacgm/public/api/revisionbooks/download/{{item.id}}"><p class="text-primary">Descargar</p></a> 
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

							<!-- Back -->

							<ul class='paperback_back'>
								<li>
									<img src="http://localhost/bibliotecaCGM/public/cover/{{item.bookimage}}" alt="" width="100%" height="100%">
								</li>
								<li></li>
							</ul>
							<figcaption>
								<h1>{{item.title}}</h1>
								<span>Por {{item.autor}}</span>
                        <p>{{(item.description.length>100)? (item.description | slice:0:100)+'..':(item.description)}}</p>
                        
                        <div class="mt-2">
                           <a (click)="update(item.id);" class="btn btn-primary btn-sm">Aprobar</a> &nbsp; <button [routerLink]="['../revisionbookdelete', item.id]" type="button" class="btn btn-danger btn-sm">Eliminar</button>
                        </div>
							</figcaption>
						</figure>
               </li>
            </ul>

            
            
            <div style="text-align: center;"> 
               <pagination-controls (pageChange)="p = $event"  previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
			</div>
		</div><!-- /container -->
