<body>
  <br><br>
  <div class="container">
    <h2>Listado de Acciones</h2>
    <hr>
    <p>{{identity.nick}}</p><br><br>                                                                                      
    <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>Nombre de Usuario</th>
          <th>Rol</th>
          <th>Actividad</th>
          <th>Realizado por:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listalog | paginate: { itemsPerPage: 9, currentPage: p }; let i=index">
          <td><b>{{item.user.nick}}</b></td>
          <td *ngIf="item.role == 'ROLE_USER'">Usuario Base</td>
          <td *ngIf="item.role == 'ROLE_ADMIN'">Administrador</td>
          <td>{{item.activity}}</td>
          <td>{{item.created_at}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
  </body>