<div class="login_wrap">

        <div class="form-content">
                <div class="row">
                        <div class="col-sm-12 col-md-12" *ngIf='status == "error"'>
                            <div class="alert-message alert-message-danger">
                                <h4>¡Error!</h4>
                                <p>{{error.message}}</p>
                            </div>
                        </div>
                </div>
        </div>

        <form enctype="multipart/form-data" #installForm="ngForm" (ngSubmit)="onSubmit(installForm);">
            <div class="header">ACCESO A BIBLIOTECACGM</div> 
                    
            <input type='email' name='email' #email='ngModel' placeholder="Email" [(ngModel)]='user.email' class='form-control'/>
            <span class="notice notice-danger col-xs-12 col-sm-12 col-md-12 mt-10" *ngIf='!email.valid && email.touched'>
                    <u>El email es obligatorio</u>
            </span>

            <input type='password' name='password' #password='ngModel' placeholder="Contraseña" [(ngModel)]='user.password' class='form-control'/>
            <span class="notice notice-danger col-xs-12 col-sm-12 col-md-12 mt-10" *ngIf='!password.valid && password.touched'>
                    <u>La contraseña es obligatoria</u>
                </span>
             
            <div style="text-align: center;">  
            <button type="submit" class="btn btn-primary">Acceso</button>
            </div>
        </form>
        
        </div>