<nav *ngIf="href != '/'" class="mb-4 navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['home']">BibliotecaCGM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="identity">
              <a class="nav-link" [routerLink]="['home']">Inicio</a>
          </li>
          <li class="nav-item" *ngIf="identity">
              <a class="nav-link" [routerLink]="['new']">Crear Libro</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="identity">
          <li class="nav-item dropdown" >
              <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img *ngIf="identity.image" width=27 height=27 src="http://localhost/bibliotecaCGM/public/avatar/{{identity.image}}"> 
                {{identity.nick}} </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['userdetail', identity.sub]">Editar Usuario</a>
                  <a class="dropdown-item" [routerLink]="['logout', 1]">Cerrar Sesión</a>
              </div>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="!identity">
        <li class="nav-item dropdown" >
            <li class="nav-item">
            <a  class="nav-link" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" [routerLink]="['']">Elegir Base de Datos</a>
            </li>
            <li class="nav-item">
            <a  class="nav-link" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" [routerLink]="['login']">Identificate</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" [routerLink]="['register']">Registro</a>
          </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>