<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container-fluid justify-content-center">
  <h1 class="text-center mt-5"><strong>Buscador de Libros</strong></h1>
<div class="row justify-content-center mt-5">
		<div class="col-3">
				<input type="text" class="form-control" placeholder="Introduce la información del libro que quieres buscar" [(ngModel)]="filtername">
		  </div>
		  <div class="col-1 ml-3">
			<select name="tipo" [(ngModel)]='tipo' class='form-control'>
				<option value="titulo">Titulo</option>
				<option value="autor">Autor</option>
				<option value="isbn">ISBN</option>
			</select>
		</div>
		 <div class="col-2 ml-3">
				<a (click)="getConsulta(tipo, filtername);" class="btn btn-primary btn-lg">Buscar Libro</a>
		  </div>
	</div>

  <h2 *ngIf="list.length == 0" class="text-center mt-5">¡No hay ningún resultado!</h2>
</div>   

<div class="container">
			<div class="component">
				<ul class="align">
					<li *ngFor="let item of list" class="mt-5"> 
						<figure class='book'>

							<!-- Front -->

							<ul class='paperback_front'>
								<li>
									<img *ngIf="item.imageLinks" src="{{item.imageLinks.thumbnail}}" alt="" width="100%" height="100%">
									<img *ngIf="!item.imageLinks" src="https://books.google.es/googlebooks/images/no_cover_thumb.gif" alt="" width="100%" height="100%">
								</li>
								<li></li>
							</ul>

							<!-- Pages -->

							<ul class='ruled_paper'>
								<li></li>
								<li>
                           <a class="btnbook" href="{{item.infoLink}}" target="_blank"><p class="text-primary">Ver En Tienda</p></a> 
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

							<!-- Back -->

							<ul class='paperback_back'>
								<li>
										<img *ngIf="item.imageLinks" src="{{item.imageLinks.thumbnail}}" alt="" width="100%" height="100%">
										<img *ngIf="!item.imageLinks" src="https://books.google.es/googlebooks/images/no_cover_thumb.gif" alt="" width="100%" height="100%">
								</li>
								<li></li>
							</ul>
							<figcaption>
								<h1>{{(item.title.length > 41) ? (item.title | slice:0:20)+'..':(item.title) }}</h1>
								<span *ngIf="item.authors">Por {{(item.authors[0].length > 30) ? (item.authors[0] | slice:0:20)+'..':(item.authors[0]) }}</span>
                        <p>{{item.publishedDate}}</p>
							</figcaption>
						</figure>
					</li>
            </ul>
			</div>
		</div><!-- /container -->
