.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.services-area {
  background-color: white;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: #4285F4;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: #4285F4;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
.single-service {
	border: 1px solid #eee;
	padding: 30px 10px;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}
.single-service i.fa {
  width: 60px;
  height: 60px;
  background-color: #4285F4;
  font-size: 25px;
  color: #fff;
  line-height: 60px;
  text-align:center;
  margin-bottom:20px;
}
.single-service i.fa {
	-webkit-transition: .4s;
	transition: .4s;
}
.single-service:hover i.fa {
	border-radius: 50%;
}
.single-service h4 {
	text-transform: capitalize;
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 500;
}

/*ALERT MESSAGE*/

#havemessages
{
	position: fixed;
}

#havemessages a
{
	color:white;
}

.alert-success {
	background-color: #68C934;
	border-color: #53a02a;
	color: #fff; 
  }
  .alert-success hr {
	border-top-color: #498c24; 
  }
  .alert-success .alert-link {
	color: #e6e6e6; 
  }
  
  .alert-info {
	background-color: #45ABCD;
	border-color: #2f90b0;
	color: #fff; 
  }
  .alert-info hr {
	border-top-color: #2a7f9c; 
  }
  .alert-info .alert-link {
	color: #e6e6e6; 
  }
  
  .alert-warning {
	background-color: #ff9800;
	border-color: #cc7a00;
	color: #fff; 
  }
  .alert-warning hr {
	border-top-color: #b36a00; 
  }
  .alert-warning .alert-link {
	color: #e6e6e6; 
  }
  
  .alert-danger {
	background-color: #9E170E;
	border-color: #6f100a;
	color: #fff; 
  }
  .alert-danger hr {
	border-top-color: #580d08; 
  }
  .alert-danger .alert-link {
	color: #e6e6e6; 
	}
	
	/* A POR OTRA COSA */

	.update-nag{
		display: inline-block;
		font-size: 14px;
		text-align: left;
		background-color: #fff;
		height: 40px;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		margin-bottom: 10px;
	}
	
	.update-nag:hover{
			cursor: pointer;
			-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
	}
	
	.update-nag > .update-split{
		background: #ffc107;
		width: 33px;
		float: left;
		color: #fff!important;
		height: 100%;
		text-align: center;
	}
	
	.update-nag > .update-split > i{
		position:relative;
		top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
	}
	.update-nag > .update-split.update-success{
		background: #5cb85c!important;
	}
	
	.update-nag > .update-split.update-danger{
		background: #d9534f!important;
	}
	
	.update-nag > .update-split.update-info{
		background: #5bc0de!important;
	}
	
	
	
	.update-nag > .update-text{
		line-height: 19px;
		padding-top: 11px;
		padding-left: 45px;
		padding-right: 20px;
	}