<body>
      <div class="col-sm-12 col-md-12" *ngIf='message'>
            <div class="alert-message alert-message-{{type}} text-center">
                <h4>¡Aviso!</h4>
                <p>{{message}}</p>
            </div>
      </div>

         
           <div *ngIf="numbermessage > 0" class="col-md-12">
               <div class="update-nag">
                 <div class="update-split"><i class="fa fa-envelope fa-xs"></i></div>
                 <div class="update-text"><strong>[Tienes {{numbermessage}} Mensaje Privado Nuevo Sin Leer]</strong> &nbsp; <a [routerLink]="['../userreceivemessage']">Ver Ahora</a> </div>
               </div>
             </div>

   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <section class="services-area pt-100 pb-70" id="services">

      <div class="container">
         <div class="row">
            <div class="col-xl-8 mx-auto text-center">
               <div class="section-title">
                  <h4>Bienvenid@ {{identity.nick}}</h4>
                  <p>¡Disfruta del día!</p>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-4 col-md-6" *ngIf="identity.role=='ROLE_ADMIN'">
               <div class="single-service">
                  <i class="fa fa-unlock"></i>
                  <h4>Sección Admin</h4>
                  <p>Administración de la Plataforma.</p>
                  <a [routerLink]="['../admin']">Entrar</a>
               </div>
            </div>

            <div class="col-lg-4 col-md-6">
               <div class="single-service">
                  <i class="fa fa-book"></i>
                  <h4>Listado de Libros</h4>
                  <p>¡Libros de la plataforma!</p>
                  <a [routerLink]="['../booklist']">Entrar</a>
               </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
               <div class="single-service">
                  <i class="fa fa-bookmark"></i>
                  <h4>Listado Favoritos</h4>
                  <p>¡Tus libros favoritos!</p>
                  <a [routerLink]="['../userlike', identity.sub]">Entrar</a>
               </div>
            </div>

            <div class="col-lg-4 col-md-6">
               <div class="single-service">
                  <i class="fa fa-send"></i>
                  <h4>Enviar Mensaje</h4>
                  <p>¡Envia Un Mensaje!</p>
                  <a [routerLink]="['../usersendmessage']">Entrar</a>
               </div>
            </div>

            <div class="col-lg-4 col-md-6">
               <div class="single-service">
                  <i class="fa fa-commenting"></i>
                  <h4>Bandeja de Entrada</h4>
                  <p *ngIf="numbermessage > 0"><b>[Tienes {{numbermessage}} Mensaje Nuevo]</b></p>
                  <p>¡Revisa tus mensajes!</p>
                  <a [routerLink]="['../userreceivemessage']">Entrar</a>
               </div>
            </div>

            <div class="col-lg-4 col-md-6">
               <div class="single-service">
                  <i class="fa fa-search"></i>
                  <h4>¡Encuentra tú libro!</h4>
                  <p>¿Algún libro especial que quieras buscar?</p>
                  <a [routerLink]="['../findbook']">Entrar</a>
               </div>
            </div>

            <div class="col-lg-4 col-md-6">
               <div class="single-service">
                  <i class="fa fa-pencil"></i>
                  <h4>Escribe Tú Libro</h4>
                  <p>Redacta una obra de manera online</p>
                  <a [routerLink]="['../bookonlinetable']">Entrar</a>
               </div>
            </div>
         </div>
      </div>
     </section>
</body>