<body>
<br><br>
<div class="container">
  <h2>Gestión de Usuarios</h2>
  <hr>
  <p>{{identity.nick}}</p><br><br>                                                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
      	<th>ID</th>
        <th>Nombre de Usuario</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rango</th>
        <th>Fecha de Registro</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listausers | paginate: { itemsPerPage: 9, currentPage: p }; let i=index">
      	<td><b>#{{item.id}}</b></td>
        <td><b>{{item.nick}}</b></td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td *ngIf="item.role == 'ROLE_USER'">Usuario Base</td>
        <td *ngIf="item.role == 'ROLE_ADMIN'">Administrador</td>
        <td>{{item.created_at}}</td>
        <td>
        	<div class="btn-group" role="group" aria-label="Basic example">
        		<a [routerLink]="['../useredit', item.id]" class="btn btn-primary btn-xs">Editar</a>
            <a [routerLink]="['../userdelete', item.id]" class="btn btn-danger btn-xs">X</a>
            <a *ngIf="item.role == 'ROLE_USER' && item.id != identity.sub" (click)="generateAdmin(item.id);" class="btn btn-warning btn-xs">Admin</a>
            <a *ngIf="item.role == 'ROLE_ADMIN' && item.id != identity.sub" (click)="removeAdmin(item.id);" class="btn btn-warning btn-xs">Quitar Admin</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>

</body>