section {
  padding: 80px 0;
}

button[type=submit]:disabled {
  background: #dddddd;
}

.title {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.book-card .book-title {
  margin: 0 0 25px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 25px;
}

.book-card .book-details {
    padding: 30px 30px 24px;
    border: 1px solid #ccc;
    border-top: 0;
}

.book-image
{
  border: 1px solid #ccc;
}


.author-section {
background-color: #4285F4;
}

.author-section h1,
.author-section p {
  color: white;
}

.try-auth0-section {
  background-color: white;
}

.try-auth0-section .container {
background-color: #F8F8F8;
}

.card-inner{
    margin-left: 4rem;
}

.mb-20
{
  margin-bottom: 20px;
}

/* MENSAJES */

.message-item {
  margin-bottom: 25px;
  margin-left: 40px;
  position: relative;
  }
  .message-item .message-inner {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  position: relative;
  }
  .message-item .message-inner:before {
  border-right: 10px solid #ddd;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -20px;
  top: 6px;
  width: 0;
  }
  .message-item .message-inner:after {
  border-right: 10px solid #fff;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -18px;
  top: 6px;
  width: 0;
  }
  .message-item:before {
  background: #fff;
  border-radius: 2px;
  bottom: -30px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  content: "";
  height: 100%;
  left: -30px;
  position: absolute;
  width: 3px;
  }
  .message-item:after {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  content: "";
  height: 15px;
  left: -36px;
  position: absolute;
  top: 10px;
  width: 15px;
  }
  .clearfix:before, .clearfix:after {
  content: " ";
  display: table;
  }
  .message-item .message-head {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  padding-bottom: 8px;
  }
  .message-item .message-head .avatar {
  margin-right: 20px;
  }
  .message-item .message-head .user-detail {
  overflow: hidden;
  }
  .message-item .message-head .user-detail h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }
  .message-item .message-head .post-meta {
  float: left;
  padding: 0 15px 0 0;
  }
  .message-item .message-head .post-meta >div {
  color: #333;
  font-weight: bold;
  text-align: right;
  }
  .post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
  }
  .message-item .message-head .post-meta >div {
  color: #333;
  font-weight: bold;
  text-align: right;
  }
  .post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
  }
  
  .img-avatar {
   min-height: 40px;
   max-height: 40px;
  }


.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.mt-5{
  margin-top: 2px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  box-sizing: border-box;
  padding: 6px 0;
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-bottom: 10px;
  color: #999;
  font-family: 'Open Sans', sans-serif;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 65px;
  background-color: white;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}