<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<section class="book-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="book-card">
          <a class="book-link-wrapper" rel="noopener noreferrer" target="_blank">
            <div class="book-image">
              <img src="http://localhost/bibliotecaCGM/public/cover/{{book.bookimage}}" alt="Imagen BibliotecaCGM">
            </div>
            <div class="book-details">
              <h3 class="book-title">Genero: {{book.genre.name}}</h3>
            </div>
          </a>
        </div>      
</div>
      <div class="col-md-8">
        <h1 class="title">{{book.title}}</h1>
        <hr>
        <p class="written-by"><strong>Escrito por:</strong> {{book.autor}}</p>
        <p class="description"><strong>Formato:</strong> &nbsp; <span *ngIf="book.bookurl.includes('.pdf')" class="fa fa-file-pdf-o btn-md"></span><span *ngIf="book.bookurl.includes('.doc')" class="fa fa-file-word-o btn-md"></span></p>
        <p class="description"><strong>Descripción:</strong> {{book.description}}.</p>
        <p class="description"><strong>Subido por:</strong> <a [routerLink]="['../../userdetail', book.user.id]"> {{book.user.nick}}</a></p>
        <div class="button-row">
        <a class="btn btn-primary btn-md" href="http://localhost/bibliotecacgm/public/api/books/download/{{book.id}}">Descargar</a>&nbsp;
        <a *ngIf="book.bookurl.includes('.pdf')" class="btn btn-primary btn-md" target="_blank" href="http://localhost/bibliotecacgm/public/api/books/stream/{{book.id}}">Leer Online</a>&nbsp;
        <a *ngIf="numpage" class="btn btn-primary btn-md" target="_blank" href="http://localhost/bibliotecacgm/public/api/books/stream/{{book.id}}#page={{numpage}}">¿Seguír por donde lo dejaste?</a>
        <div class="like-content pull-right">
          <a *ngIf="checkLike(book.id) == false" (click)="sendLike(book.id);" class="btn_like like-review"><span class="fa fa-thumbs-up btn-md" style="color:gray"></span></a> 

          <a *ngIf="checkLike(book.id) == true" (click)="sendDislike(book.id);" class="btn_like"><span class="fa fa-thumbs-up xs" style="color:blue"></span></a>
      </div>
      
        <div class="row">
          <div class="col-5">
            <a class="btn btn-info btn-md" href="https://twitter.com/intent/tweet?text=¡Leyendo '{{book.title}}' en Biblioteca CGM!+%23BibliotecaCGM+%23{{book.title}}" target="_blank"><i class="fa fa-twitter"></i> Compartir #{{book.title}}</a>&nbsp;
          </div>
          <div class="col-6">
            <a class="btn btn-success btn-md" [routerLink]="['../../sendbookmail', book.id]">¡Enviar '{{book.title}}' a un amigo por correo!</a>
          </div>
        </div>

        <div class="container mt-2" *ngIf="book.bookurl.includes('.pdf')">
        <div class="row" id="mp">
            <div class="col-sm-3 col-md-3 col-lg-3">
              <span>Num.Pagina:</span> 
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input type='number' class='form-control' name='numpaginas' #numpaginas='ngModel' [(ngModel)]='recordpage.numpages' placeholder="N·Pagina"/>
              </div>
            <div class="col-sm-2 col-md-2 col-lg-2" *ngIf="numpage">
                <span class="text-center ml-3">¿Finalizado?</span> 
                <label class="switch">
                    <input type="checkbox" class="primary" name='librofinalizado' #librofinalizado='ngModel'  [(ngModel)]='recordpage.librofinalizado'>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a class="btn btn-warning btn-md" (click)="sendNumPage(book.id, identity.sub);">Guardar Marcador</a>
            </div>
          </div>
        </div>
      </div>
  <hr />
  <div class="legal-info">
    Toda la información y/o sobre las obras publicadas en este sitio web es de uso libre.
  </div>  
</div>    
</div>  
  </div>
</section>
<section class="author-section bg-primary">
    <h2 class="text-center text-white">COMENTARIOS</h2>
    <hr>
  <div class="container">
     <form enctype="multipart/form-data" #commentNewForm="ngForm" (ngSubmit)="onSubmit(commentNewForm);">
        <textarea name='comentario' #comentario='ngModel' [(ngModel)]='comment.comment' class='form-control mb-20' placeholder="  Introduce el comentario" required></textarea>

        <div style="text-align: center;">
           <button type="submit" class="btn btn-primary mb-20" [disabled]="!comment.comment">Enviar Mensaje</button>
        </div>
     </form>

     <div class="container" *ngFor="let comment of comments">
      <div class="qa-message-list" id="wallmessages">
          <div class="message-item" id="m16">
              <div class="message-inner">
                <div class="message-head clearfix">
                  <div class="avatar pull-left"><a [routerLink]="['../../userdetail', comment.user.id]"><img class="img-avatar" *ngIf="comment.user.image" src="http://localhost/bibliotecaCGM/public/avatar/{{comment.user.image}}"></a></div>
                    <div class="user-detail">
                      <a [routerLink]="['../../userdetail', comment.user.id]"><h5 class="handle">{{comment.user.nick}}</h5></a>
                      <div class="post-meta">
                        <div class="asker-meta">
                          <span class="qa-message-what"></span>
                          <span class="qa-message-when">
                            <span class="qa-message-when-data">Hace: {{comment.created_at | timeAgo}}</span>
                          </span>
                          <span class="qa-message-who">
                            <span class="qa-message-who-pad"></span>
                            <span class="qa-message-who-data"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                        <div class="qa-message-content">{{comment.comment}} <a class="pull-right" *ngIf="this.identity.role == 'ROLE_ADMIN' || this.identity.sub == comment.user.id" [routerLink]="['../../userdeletecomment', comment.id, comment.user.id]"><span class="fa fa-trash ml-1"></span></a><a class="pull-right" [routerLink]="['../../usersendmessage', comment.user.id]"><span class="fa fa-envelope"></span></a></div>
              </div></div>
              </div>
        </div>
  </div>
</section>