<div class="container register-form justify-content-center">
    <div class="form">


        <div class="note">
            <p>{{title}}</p>
        </div>
        
        <form enctype="multipart/form-data" #sendForm="ngForm">
            <div class="form-content">
                <div class="row">
                    <div class="container clearfix">
                        <img src="http://localhost/bibliotecaCGM/public/avatar/{{message.user.image}}"  width="230px" height="250px;" class="logo-margin">
                        <div class="chat">   
                          <div class="chat-history">
                            <ul class="chat-ul">
                              <li>
                                <div class="message you-message">
                                {{message.messages}}
                                </div>
                              </li>
                            </ul>
                          </div> 
                        </div> 
                    </div>
                </div>
                <div style="text-align: center;">
                    <a [routerLink]="['../../usersendmessage', message.user_send]" class="btnSubmit">Responder Mensaje</a>
                 </div>
            </div>
        </form>

    </div>
</div>