<div class="container register-form justify-content-center">
    <div class="form">
        <div class="login_wrap">
            <p class="header">{{page_title}}</p>
        </div>
        <form enctype="multipart/form-data" #bookNewForm="ngForm" (ngSubmit)="onSubmit(bookNewForm);">
            <div class="form-content">
            
                <div class="row">
                        <div class="col-sm-12 col-md-12" *ngIf='status == "error"'>
                            <div class="alert-message alert-message-danger">
                                <h4>¡Error!</h4>

                                <div *ngIf="errors">
                                    <div *ngFor="let item of errors | keyvalue">

                                        <div *ngIf="item.key.includes('bookimage')">
                                                - El campo <span class="text-capitalize"><strong>Portada</strong></span> es requerido<br>
                                        </div>

                                        <div *ngIf="item.key.includes('bookurl')">
                                                - El archivo <span class="text-capitalize"><strong>Libro</strong></span> es requerido<br>
                                        </div>

                                        <div *ngIf="item.key.includes('description')">
                                                - El campo <span class="text-capitalize"><strong>Descripción</strong></span> es requerido<br>
                                        </div>

                                        <div *ngIf="item.key.includes('title')">
                                                - El campo <span class="text-capitalize"><strong>Titulo</strong></span> es requerido<br>
                                        </div>

                                        <div *ngIf="item.key.includes('autor')">
                                                - El campo <span class="text-capitalize"><strong>Autor</strong></span> es requerido<br>
                                        </div>

                                        <div *ngIf="item.key.includes('isTrusted')">
                                             - El tamaño del archivo supera el limite de <span class="text-capitalize"><strong>MB</strong></span> permitido<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>    

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Titulo:</label>
                            <input type='text' name='title' #title='ngModel' [(ngModel)]='book.title' class='form-control' placeholder="Introduce el Titulo" required/>
                        </div>

                        <div class="form-group">
                            <label>Autor:</label>
                            <input type='text' name='autor' #autor='ngModel' [(ngModel)]='book.autor' class='form-control'  placeholder="Introduce el Autor" required/>
                        </div>

                        <div class="form-group">
                            <label>Descripción:</label>
                            <textarea name='description' #description='ngModel' [(ngModel)]='book.description' class='form-control' placeholder="Introduce la descripción" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>Portada:</label>
                            <div class="upload-btn-wrapper">
                                <button class="btn-upload"><span class="fa fa-image"> {{nameimage}}</span></button>
                                <input type='file' name='bookimage' #bookimage='ngModel' (change)="readUrl($event)" [(ngModel)]='book.bookimage' class='form-control' accept="image/jpeg, image/png"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Sube el Libro</label>
                            <div class="upload-btn-wrapper">
                            <button class="btn-upload"><span class="fa fa-book"> {{namelibro}}</span></button>
                             <input type='file' name='bookurl' #bookurl='ngModel' (change)="readPDF($event)" [(ngModel)]='book.bookurl' accept="application/pdf, .doc"/>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>Genero:</label>
                            <select name='genre_id' #genre_id='ngModel' [(ngModel)]='book.genre_id' class='form-control'>
                                <option *ngFor="let item of genres"
                                [value]="item.id">{{item.name}}</option>
                            </select>
                        </div> 
                        <hr> 
                        <div class="form-group">
                            <input type="checkbox" (click)="mandaraceptar();" name="aceptar"> Al aceptar este contrato usted verifica que la autoría de los archivos adjuntos a esta solicitud se convertirán en obras de dominio publico.       
                        </div>                     
                    </div>
                </div>
                <div style="text-align: center;">  
                <button type="submit" [disabled]="aceptar == false" class="btn btn-primary">Crear Libro</button>
                </div>
            </div>
        </form>
    </div>
</div>