
         <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger mt-50" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header" class="bg-primary pt-3 pb-3">
            <p class="heading text-center" style="color: white;"><strong>¿Eliminar Libro?</strong></p>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <p class="text-center">
                  <i class="fa fa-trash fa-4x" style="color: #4285F4;"></i>
                </p>
              </div>
      
              <div class="col-12">
                <p class="text-center"><strong>Una vez eliminado, el libro no podrá ser restaurado.</strong></p>
              </div>
            </div>
          </div>
      
          <!--Footer-->
          <div class="modal-footer flex-center">
            <a (click)="destroy();" class="btn btn-danger">Borrar Libro</a>
            <a [routerLink]="['../..']" class="btn btn-primary" data-dismiss="modal">No, Volver Atrás</a>
          </div>
        </div>
        <!--/.Content-->
      </div>