<div id="intro">
    <div class="intro-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="brand mt">
              <br><br><br><br><br><br>
              <img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Octicons-book.svg" width="300" height="300">
              <h1 class="mb-3"><a [routerLink]="['../login']">Biblioteca CGM</a></h1>
              <div class="line-spacer"></div>
              <h3><p>¡Disfruta de tus libros donde y cuando quieras!</p></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>