<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<div class="container register-form justify-content-center">
  <div class="form">
      <div class="login_wrap">
          <p class="header">{{page_title}}</p>
      </div>

      <form enctype="multipart/form-data" #bookNewForm="ngForm" (ngSubmit)="onSubmit(bookNewForm);">

      <ckeditor name='bookonline' #bookimage='ngModel' [(ngModel)]='book.bookonline' [config]="{ entities:  'false' }"></ckeditor>
      
      <div style="text-align: center;">  
        <button type="submit" class="btn btn-primary" [disabled]="book.bookonline == null || book.bookonline == ''">Guardar Libro</button>
      </div>
      </form>

</div>
</div>
