<body>
  <br><br>
  <div class="container">
      <div class="pull-right"><a [routerLink]="['../bookonlinenew']" class="btn btn-warning btn-xs">Crear Libro Online</a></div>
    <h2>Libros Online</h2>
    <hr>
    <p>{{identity.nick}}</p><br><br>                                                                                      
    <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Descripción</th>
          <th>Creado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of booksonline | paginate: { itemsPerPage: 3, currentPage: p }; let i=index">
          <td><b>{{item.title}}</b></td>
          <td><b>{{item.autor}}</b></td>
          <td><b>{{item.description}}</b></td>
          <td><b>{{item.created_at}}</b></td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a [routerLink]="['../bookonlinenew', item.id]" class="btn btn-primary btn-xs">Editar Información</a>
              <a *ngIf="item.bookonline == null" [routerLink]="['../writebookonline', item.id]" class="btn btn-dark btn-xs">Escribir Libro</a>
              <a *ngIf="item.bookonline != null" [routerLink]="['../writebookonline', item.id]" class="btn btn-dark btn-xs">Editar Libro</a>
              <a *ngIf="item.bookimage != null && item.bookonline != null" (click)="sendrevision(item.id);" class="btn btn-info btn-xs">Enviar a Revisión</a>
              <a *ngIf="item.bookimage == null || item.bookonline == null" class="btn btn-info btn-xs">Falta Portada O Libro Para Enviar</a>
              <a [routerLink]="['../bookonlinedelete', item.id]" class="btn btn-danger btn-xs">X</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
    <span class="text-center" *ngIf="booksonline.length == 0"><h2><br>¡No hay ningún resultado!</h2></span>

    <div style="text-align: center;"> 
      <pagination-controls (pageChange)="p = $event"  previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
   </div>
    </div>
  </div>
  
  </body>